/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Centra el texto y elementos inline */
}

/* Header */
header {
    display: flex;
    align-items: baseline;      /* Centra verticalmente logo y texto */
    justify-content: center;  /* Centra horizontalmente todo el grupo */
    gap: 10px;                 /* Espacio entre logo y texto */
    padding: 15px;
}

header img {
    max-height: auto;  /* Ajusta el alto del logo */
    width: 13rem;
}

header span {
    font-size: 26px;
    font-weight: 300;
}

/* Main */
main {
    padding: 20px;
}

/* Carrusel / PDF */
.carousel-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 70%; /* mismo ancho que el iframe */
    max-width: 1000px; /* opcional, por si quieres limitarlo */
}

.carousel-container iframe {
    width: 100%;
    height: 800px;
    border: none;
}

/* Botón */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005fa3;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 15px;
    margin-top: 30px;
}