/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Header */
header {
    display: flex;
    background-color: #2e5c60;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    flex-wrap: wrap; /* Permite que logo y texto bajen en pantallas pequeñas */
}

header img {
    width: 9rem;
    height: auto;
}

header span {
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
}

/* Main */
main {
    padding: 20px;
}

h2 {
    font-size: 18px;
    font-weight: 200;
    padding-left: 20px;
    margin: 10px;
}

/* Carrusel / PDF */
.carousel-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 70%;
    max-width: 1000px;
}

.carousel-container iframe {
    width: 100%;
    height: 800px;
    border: none;
}

/* Botón */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2e5c60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d8c8a8;
}

/* Footer */
footer {
    background-color: #d8c8a8;
    font-size: 14px;
    color: black;
    padding: 15px;
    margin-top: 30px;
}

/* -------------------------
   Responsive para móviles
-------------------------- */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    header img {
        width: 10rem;
    }

    header span {
        font-size: 18px;
    }

    .carousel-container {
        width: 100%;
        padding: 0 10px;
    }

    .carousel-container iframe {
        height: 500px; /* Más bajo para móviles */
    }

    main {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header {
    align-items: center;
    gap: 5px;
    padding: 0px;
    }

    header img {
        width: 8rem;
    }

    header span {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .carousel-container iframe {
        height: 400px;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }
    footer {
    font-size: 10px;
} 
}